<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm">
    <div class="container">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="/"><h4>5 Card Draw</h4>It's like poker but easy</a>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
</header>
