<h3>Your hand:</h3>

<form id="frm_cards" method="POST" action="/games/<%= gameId %>/exchange">
  <div class="container">
    <div id="cards">
    </div>
    </div>
      <button id="submit_burn" type="button" class="btn btn-primary btn-block">Burn selected cards</button>
    </div>
  </div>
</form>


<script>
  const gameId = '<%= gameId %>';

  var clearUI = () => {
    $('#cards').html('');
  }

  var drawCards = (data) => {
    var cards = '';
    
    $.each(data, (index, value) => {
        console.log(value)
        cards += '<div class="col-sm-6 col-md-2"><div><img class="col-sm-12 col-md-11" src="'+value.image+'" /></div><div class="text-center"><input name="card" id="card_'+value+'" type="checkbox" value="'+value.code+'" /> Discard</div></div>';
      });

      $('#cards').append('<div class="row"><div class="row col-sm-12">'+cards+'</div><div class="col-xs-2"></div></div>');
  }

  // Fetch the current users cards here from `/games/${gameId}/cards`
  var deckOfCards = [];
  // cards are different ones retrieved here.
  $.ajax(`/games/${gameId}/cards`).done((data, textStatus, xhr) => {
    deckOfCards = data;
    drawCards(data);
  })
  .fail((error) => { console.error(error)});

  const checkExchangeStatus = () => {
    $.ajax(`/games/${gameId}/allExchanged`).done((data, textStatus, xhr) => {
      if (xhr.status !== 202) { // not pending
        document.location = `/games/${gameId}/result`;
      }
    })
  }

  var burnCards = () => {
    //get selected cards
    var allVals = [];
    $('input[name="card"]:checked').each(() => {
       allVals.push($(this).val());
    });
    console.log(allVals);
    const params = {'card' : allVals };
    //console.log(params);

    //stringify to handle arrays
    $.post(`/games/<%= gameId %>/exchange`, params) )
    .done((data, textStatus, xhr) => {
    /*$.ajax({
      url:`/games/<%= gameId %>/exchange`,
      type: 'POST',
      data: params,
      contentType: 'application/json' 
    }).done( (data, textStatus, xhr) => {*/
      deckOfCards = data;
      clearUI();
      drawCards(deckOfCards);
    })
    .fail((error) => { console.error(error)});
  }

  /** init **/
  setInterval(checkExchangeStatus, 1000);
  $("#submit_burn").click( () => {  
    burnCards();
  });

</script>
