<script>

var drawCards = (data) => {
    var cards = '';

    $.each(data, (index, value) => {
        console.log(value)
        cards += '<div class="col-6"><div><img class="col-12" src="'+value.image+'" /></div><div class="text-center"><input name="card" id="card_'+value+'" type="checkbox" value="'+value.code+'" /> Discard</div></div>';
      });

      $('#cards').append('<div class="row">'+cards+'</div><div class="col-xs-2"></div>');
  }
</script>


<%- include('partials/gamepartial') %>
