<h3>Your hand:</h3>

<script>
var drawCards = (data) => {
    var cards = '';

    $.each(data, (index, value) => {
        console.log(value)
        cards += '<div class="col-sm-6 col-md-2"><div><img class="col-sm-12 col-md-11" src="'+value.image+'" /></div><div class="text-center"><input name="card" id="card_'+value+'" type="checkbox" value="'+value.code+'" /> Discard</div></div>';
      });

      $('#cards').append('<div class="row"><div class="row col-sm-12">'+cards+'</div><div class="col-xs-2"></div></div>');
  }
</script>

<%- include('partials/gamepartial') %>
