<% if(isWinner){ %>

<h3> You won! </h3>


<div class="container">

  <% for(var i = 0; i < currentDeck.length; i++){ %>

  <div class="col-sm-6 col-md-2">
    <div>
    <img class="col-sm-12 col-md-11" src="https://deckofcardsapi.com/static/img/<%= currentDeck[i] %>.png" />
    </div>
  </div>

  <% } %>

</div>




<% } else { %>

<h3>You Lost<h3>

<div class="container">

  <% for(var i = 0; i < currentDeck.length; i++){ %>

  <div class="col-sm-6 col-md-2">
    <div>
    <img class="col-sm-12 col-md-11" src="https://deckofcardsapi.com/static/img/<%= currentDeck[i] %>.png" />
    </div>
  </div>

  <% } %>

</div>


<h3>The winning hand:</h3>
<div class="container">
  <% for(var i = 0; i<deck.length; i++){ %>

  <div class="col-sm-6 col-md-2">
    <div>
    <img class="col-sm-12 col-md-11" src="https://deckofcardsapi.com/static/img/<%= deck[i] %>.png" />
    </div>
  </div>

  <% } %>
</div>





<% } %>
